@import "mixins";
@import "variables";
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Mukta+Malar');
@import "hacked-slick";

body {
  font-family: 'Mukta Malar', sans-serif;
  background-color: black;
  background-image: url('../assets/images/stardust.png');
}

.main-image {
  z-index: 0;
  width: 100%;
  height: 675px;
  position: absolute;
  top: 170px;
  overflow:hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    @include mediaQuery(0px, 1200px) {
      width: 1200px;
    }
    @include mediaQuery(1360px, 0){
      width: 100%;
      align-content: center;
    };
  }
}

.wrapper{
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-template: repeat(12, minmax(80px, auto)) / repeat(6, 1fr);
  grid-gap: 5px;
  min-height: 0;
}

#wrapper-index {
  grid-template: repeat(17, minmax(80px, auto)) / repeat(6, 1fr);
}

.top-nav {
  @include flexbox(row, space-between, center);
  padding: 10px;
  grid-column: span 6;
  // background-color: darken($offPurple, 20%);
}

.top-nav-box {
  @include flexbox(row, center, center);
}

#mobile-menu-container {
  color: $offPurple;
  display: none;
  @include mediaQuery(0px, 600px) {
    display: inline-block;
  }
  svg {
    fill: $offPurple;
  }
}

#logo-container {
  width: 50px;
  svg {
    fill: $offPurple;
    width: 100%;
  }
  @include mediaQuery(0px, 600px) {

  }
}

.nav-button {
  @include mediaQuery(0px, 600px) {
    display: none;
  }
}

.nav-links{
  width: 450px;
  @include flexbox(row, space-between, center);
  // width: 450px;
  @include mediaQuery(0px, 600px) {
    display: none;
  }
}

.top-nav-button {
  a {
    color: lighten($offPurple, 40%);
  }
}

.btn-outline-dark {
  background-color: black;
  &:hover {
    background-color: $offPurple;
    border-color: $offPurple;
  }
  @include shadow();
}

.buy-button {
  color: white;
}

.title-banner {
  @include flexbox(row, center, center);
  grid-column: span 6;
  @include shadow();
  @include header-style(2rem);
}

.countdown-frame, .countdown-sidebar {
  @include flexbox(row, center, center);
  width: 100%;
}

.countdown-frame {
  grid-column: span 6;
  grid-row: span 8;
}

.countdown-sidebar {
  @include shadow();
  grid-column: span 2;
  grid-row: span 2;
  @include mediaQuery(0px, 1024px) {
    grid-column: span 6;
    grid-row-start: 9;
  }
}

.countdown-display {
  @include header-style(3rem);
  z-index: 2;
  position: absolute;
}

.media-quote {
  grid-column: span 6;
  grid-row: span 2;
  @include flexbox(column,center,center);
  margin: 35px 0px;
  @include header-style(1.5rem);
}



// .thumbnail-row {
//   @include flexbox(row, space-between, center);
//   width: 100%;
// }

.thumbnail-item {
  grid-column: span 2;
  grid-row: span 2;
  padding: 4px;
  overflow: hidden;
  img {
    width: 100%;
  }
  @include mediaQuery(0px, 1024px){
    grid-column: span 6;
  };
}

.screenshots {

  @include shadow();
  img:hover {
    cursor: pointer;
  }
  @include mediaQuery(0px, 1024px) {
    grid-column-start: 1;
    grid-column: span 6;
    grid-row: span 1;
  }
}

.test-srcset {
  grid-row-start: 10;
  grid-column-start:1;
  grid-column-end: 7;
  img{
    width: 100%;
  }
}

.screenshots-row {
  @include flexbox(row, space-between, center);
  width: 100%;
}

.game-info, .game-info-sidebar {
  padding: 20px;
  background-color: darken($offPurple, 20%);
  color: lighten($offPurple, 40%);
  @include flexbox (row,space-between,center);
  @include shadow();
  .platforms{
    @include flexbox (row,center, flex-start);
    div {
      margin: 0 5px;
      svg {
        max-width: 50px;
        max-height: 50px;
        g {
          fill: lighten($darkBlue, 20%);
        }
      }
    }
  }
}

.game-info {
  grid-column: span 6;
  @include mediaQuery(0px, 900px) {
    flex-direction: column;
    div {
      margin: 20px 0;
    }
  };
}
.price {
  font-size: 2rem;
}
#spookyGames {
  font-size: 2rem;
}
#releaseDate {
  font-size: 1.5rem;
}

.game-info-sidebar {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 10;
  width: 100%;
  @include flexbox(column, space-between, center);
  @include mediaQuery(0px, 1024px) {
    grid-column: span 6;
    grid-row: span 2;
    grid-row-start: 10;
  }
}


.overlay {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0,0,0,0.5);
  color: white;
  font-size: 68pt;
}

.img-carousel {
  visibility: hidden;
  position: fixed;
  top: 0px;
  margin-left: 50px;
  width: 800px;
  height: auto;
  // max-height: 400px;
  background-color: white;
  color: black;
  z-index:2;
  img {
    height: 100%;
  }
}
