@import "mixins";
@import "variables";
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Mukta+Malar');

body {
  font-family: 'Mukta Malar', sans-serif;
  background-color: black;
  background-image: url('../assets/images/stardust.png');
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-template: repeat(12, minmax(80px, auto)) / repeat(6, (100/6)*1%);
  gap: 5px;
}

.top-nav {
  @include flexbox(row, space-between, center);
  padding: 10px;
  grid-column: span 6;
  // background-color: darken($offPurple, 20%);
}

.top-nav-box {
  @include flexbox(row, center, center);
}

#nav-links{
  @include flexbox(row, space-between, center);
  width: 450px;
}

.top-nav-button {
  a {
    color: lighten($offPurple, 40%);
  }
}

.btn-outline-dark {
  background-color: black;
  &:hover {
    background-color: $offPurple;
    border-color: $offPurple;
  }
  @include shadow();
}

.buy-button {
  color: white;
}

.title-banner {
  @include flexbox(row, center, center);
  grid-column: span 6;
  @include shadow();
  @include header-style(2rem);
}

.countdown-frame, .countdown-sidebar {
  @include shadow();
  @include flexbox(row, center, center);
  background-image: url('../assets/images/timerbackground.jpg');
  width: 100%;
}

.countdown-frame {
  grid-column: span 6;
  grid-row: span 8;
}

.countdown-sidebar {
  grid-column: span 2;
  grid-row: span 2;

}

.countdown-frame.media-page {

}

.countdown-display {
  @include header-style(3rem);

}

.media-quote {
  grid-column: span 6;
  grid-row: span 2;
  @include flexbox(column,center,center);
  margin: 35px 0px;
  @include header-style(1.5rem);
}



.thumbnail-row {
  @include flexbox(row, space-between, center);
  width: 100%;
}

.thumbnail-item {
  overflow: hidden;
  grid-column: span 2;
  grid-row: span 2;
  padding: 4px;
  img {
    width: 100%;
  }
}

.screenshots {
  @include flexbox(row, space-between, center);
  flex-wrap: wrap;
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 10;
  @include shadow();
}

.screenshots-row {
  @include flexbox(row, space-between, center);
  width: 100%;
}

.game-info, .game-info-sidebar {
  padding: 20px;
  background-color: darken($offPurple, 20%);
  color: lighten($offPurple, 40%);
  @include flexbox (row,space-between,center);
  .platforms{
    @include flexbox (row,center, flex-start);
    div {
      margin: 0 5px;
      svg {
        max-width: 50px;
        max-height: 50px;
        g {
          fill: lighten($darkBlue, 20%);
        }
      }
    }
  }
}

.game-info {
  grid-column: span 6;
}

.game-info-sidebar {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 8;
  border: 1px solid red;
  width: 100%;
  @include flexbox(column, space-between, center);
  background-color: $offPurple;
}
